apiVersion: apps/v1
kind: Deployment
metadata:
  name: yellow-deployment
  namespace: backend
  labels:
    app: nginx
spec:
  replicas: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      nodeSelector:
        kubernetes.io/hostname: node-02
      securityContext:
        runAsUser: 1000
        runAsNonRoot: true
      containers:
      - name: nginx
        image: nginxinc/nginx-unprivileged:alpine3.22-perl
        securityContext:
          allowPrivilegeEscalation: false
        ports:
        - containerPort: 8080